<h1>物件名</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_Bukken_path %>
<div class="rooms-container">
  <% @rooms.each do |t| %>
    <div class="room">
      <%= t.name %>
      <%= t.address %>
      <%= t.genre %>
      <%= t.image %>
      <%= t.about %>
    </div>
  <% end %>
</div>