<h1>(物件特集)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @Bukken do |f| %>

# データ型がstringで自由記述の入力フォーム
  <div class="field">
    <%= f.label :物件名 %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :画像 %>
    <%= f.text_field :image, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address, :size => 30 %>
  </div>

  <div class="field">
  <%= f.label :条件 %>
  <%= f.text_field :genre, :size => 30 %>
</div>

# データ型がtextで自由記述の入力フォーム
  <div class="field">
    <%= f.label :詳細  %>
    <%= f.text_area :about :size => "30x2" %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", rooms_path %>